h6 {
    font-weight: 400;
    font-size: 14px;
}

code {
    position: relative;
    border-radius: 10px!important;
    background: #fff;
    border: 1px solid #dddcdc;
    display: block;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 0.8rem;
}

code>.content-copy {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

pre {
    min-height: 6rem;
    overflow: auto;
    padding: 1rem;
    color: #9b9b9b;
    margin: 0;
}

.container {
    margin: 6em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1em;
}

.custom-card-img {
    margin-bottom: 16px;
}

.navbar {
    z-index: 5;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    background-color: black;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
    color: white !important;
}

footer {
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, .16), 0 -2px 10px 0 rgba(0, 0, 0, .12);
}