.ngx-lazy-placeholder {
    background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.ngx-lazy-placeholder img {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s linear;
}

.ngx-lazy-placeholder .ngx-lazy-img-small.loaded {
    opacity: 1;
}

.ngx-lazy-placeholder .ngx-lazy-img-large.loaded {
    opacity: 1;
}

.ngx-lazy-img-small {
    filter: blur(50px);
    /* this is needed so Safari keeps sharp edges */
    transform: scale(1);
}